<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Performance Test</title>
</head>
<body>
<h1>Organizations</h1>
    <ul>
        {% for organization in organizations %}
            <li>
                <strong>Organization Name:</strong> {{ organization.name }}
                <h4>Users</h4>
                <ul>
                    {% for user in organization.users.all %}
                        <li><strong>Username:</strong> {{ user.username }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

</body>
</html>
